<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" style="padding-left: 20px;" href="#">Asset Management App</a>
  <a class="navbar-brand" style="float:inline-end; padding-left: 80%; margin-right: 20px;" href="/login"
    (click)="logout()">Logout</a>
</nav>
<br>
<br>
<div class="container" style="width: 70%;">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <br>
    <br>
    <br>
    <span style="float: right;">All Rights Reserved 2021 &copy;Nithin </span>
  </div>
</div>